{{yield}}
{{#if newMsg}}
  <form>
    <div class='form-group'>
      {{input value=author placeholder='Enter Author:' class='form-control'}}
    </div>
    <div class='form-group'>
      {{textarea value=message placeholder='Enter Message:' class='form-control'}}
    </div>
    <div class="button-box">
      <button class='btn btn-danger' {{action 'hideForm'}}>Cancel</button>
      <button class='btn btn-success' {{action 'saveMessage'}}>Send</button>
    </div>
  </form>
{{else}}
<div class="button-box">
  <button class='btn btn-primary' {{action 'showForm'}}>Add Msg</button>
</div>
{{/if}}
